* {
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #b3e0ff; /* Soft Blue */
  color: #fff;
  margin: 0;
  padding: 0;
}

#box {
  background-color: #ecf0f1; /* Light Gray */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

#box-txt {
  width: calc(100% - 20px); /* Adjusted width */
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #bdc3c7; /* Light Gray */
  border-radius: 5px;
}

.box-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #3498db, #2980b9); /* Blue Gradient */
  transition: background 0.3s ease;
}

.box-btn:hover {
  background: linear-gradient(to right, #2ecc71, #27ae60); /* Green Gradient */
}

h3, p {
  color: #34495e; /* Dark Gray */
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#result.correct {
  color: #2ecc71; /* Green */
}

#result.incorrect {
  color: #e74c3c; /* Red */
}

#thalaGif,
#notThalaGif {
  display: none;
  margin-top: 20px;
  max-width: 100%;
  border-radius: 10px;
}

#thalaAudio,
#notThalaAudio,
#notThalaAudio0,
#notThalaAudio1,
#notThalaAudio2,
#notThalaAudio3,
#notThalaAudio4 {
  display: none;
}

#hintDisplay {
  margin-top: 10px; /* Adjusted margin-top */
  color: white;
}

#hintCount {
  font-weight: bold;
  font-size: 20px;
  color: #f39c12; /* Orange */
}

#hintsContainer {
  margin-top: 10px;
  text-align: left; /* Adjusted to left-align hints */
}

#hintButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #e74c3c, #c0392b); /* Red Gradient */
  transition: background 0.3s ease;
}

#hintButton:hover {
  background: linear-gradient(to right, #f39c12, #d35400); /* Orange Gradient */
}

/* Add a new class for the popup box */
#hiddenBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure it appears on top of other elements */
}

/* Style for the close button inside the popup */
#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}
